<div class="row mt-3">
  <!-- Location List -->
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Location List
      </div>
      <div class="card-body">
        <!-- Location list content here -->
      </div>
    </div>
  </div>

  <!-- New Location Form -->
  <div class="col-6">
    <div class="card">
      <div class="card-header bg-primary text-white">
        New Location Form
      </div>
      <div class="card-body">

        <div class="row mb-3">
          <div class="col-6">
            <label for="lname" class="form-label">Location Name</label>
            <input type="text" [(ngModel)]="newLocationObj.locationName"
              class="form-control" id="lname">
          </div>

          <div class="col-6">
            <label for="lcode" class="form-label">Location Code</label>
            <input type="text" [(ngModel)]="newLocationObj.code"
              class="form-control" id="lcode">
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-end">
            <button type="reset" class="btn btn-secondary me-2">
              Reset Form
            </button>
            <button type="submit" class="btn btn-success"
              (click)="onSaveLocation()">
              Save Location
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
